:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #919191;
}

main {
  margin-bottom: 200px;
}

html,
body {
  width: 100%;
  margin: 0;
  background-color: #353535;
}

nav {
  background-color: #353535;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

nav button {
  background-color: transparent;
  border: none;
  font-size: 3em;
}

nav :active {
  color: rgb(134, 197, 206);
  text-shadow: 4px 4px 3px rgba(2, 2, 2, 0.5);
}

.bigSection {
  background-color: #919191;
}

.bigSection input {
  padding: 15px;
}

.bigSection button {
  padding: 15px;
  font-size: 1em;
}

.educationCard {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  font-size: 2em;
  border-bottom: 5px solid #353535;
  padding: 40px;
}
.educationCard h2:first-of-type {
  padding-top: 40px;
}

label {
  font-weight: 500;
}

.dividerBig {
  width: 100%;
  margin: 0;
}

.divider1 {
  height: 10px;
  background-color: #919191;
  border-radius: 0 0 20px 20px;
  width: 100%;
  margin: 0;
}
.divider2 {
  height: 10px;
  background-color: #919191;
  border-radius: 20px 20px 0 0;
  width: 100%;
  margin: 0;
}

.dividerTitle {
  background-color: #353535;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  color: #86c5ce;
  align-items: center;
  justify-content: center;
  align-content: center;
}

button {
  background-color: #86c5ce;
  border-radius: 10px;
}

h2 {
  color: #86c5ce;
}

.fa-wand-magic-sparkles {
  font-size: 1.3em;
  color: #86c5ce;
}

.fa-wand-magic-sparkles:active {
  animation-name: wand;
  animation-duration: 1s;
  animation-direction: normal;
  color: rgb(255, 94, 0);
}

@keyframes wand {
  0% {
    transform: rotate(20deg);
  }

  20% {
    transform: rotate(20deg);
  }
}

.renderedProfile h2 {
  color: #a6dfe7;
}

.cardButtons button {
  background-color: transparent;
  border: none;
}

.cardButtons button:hover,
.cardButtons button:active {
  color: rgb(134, 197, 206);
  text-shadow: 4px 4px 3px rgba(2, 2, 2, 0.5);
}

.individualSeparator {
  height: 5px;
  margin: 10px auto;
  background-color: #353535;
  width: auto;
}
